body{
	background-color: lightskyblue;
}
form{
	border: 1px solid black;
	border-radius: 8px;
	box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 8%; 
	margin-right: 33%;
	margin-left: 33%;
	gap: 8px;
	padding-bottom: 10%;
	height: 80%;
	background-color: white;
}
form > div{
margin-top: 20px;
margin-bottom: 55px;
}
label{
	font-size: 20px;
	font-weight: bold;

}
#boton{
	border-radius: 8px;
	font-size: 15px;
	font-weight: bold;
	padding:3px 9px;
	margin-top: 10px;
	width: 30%;
}
input{
	border-radius: 8px;
	padding: 5px 5px;
	width: 50%;
	box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
}
div{
	font-size: 25px;
	color: red;
	font-weight: bold;
}
h1{
	font-size: 40px;
	letter-spacing: 1.1px;
}